<polUni>
  <fvTenant name="{{ item.Tenant_name }}" status="modified">
    {% for entry in AppProfiles_EPGs_Domains_Static_Bindings %}
    {% if entry.storage_domain_name is defined %}
    <fvAp name="{{ entry.AppProfile_name }}">
      <fvAEPg name="{{ entry.EPG_name }}" status={% if entry.epg_state is defined and entry.epg_state == 'absent' %}"deleted"{% else %}""{% endif %}>

        {% if entry.Storage_FC_FCoE_Static_Binding is defined %}
          {% for Static_Binding_entry in entry.Storage_FC_FCoE_Static_Binding %}
            {% if Static_Binding_entry.interface_type == 'switch_port' %}
        <fvRsFcPathAtt tDn="topology/pod-{{ Static_Binding_entry.Pod_ID }}/paths-{{ Static_Binding_entry.Switch_ID }}/pathep-[eth{{ Static_Binding_entry.port }}]" vsan="vsan-{{ Static_Binding_entry.vsan_ID }}" vsanMode="native" status={% if Static_Binding_entry.state is defined and Static_Binding_entry.state == 'absent' %}"deleted"{% else %}""{% endif %}/>
            {% elif Static_Binding_entry.interface_type == 'port_channel' %}
        <fvRsFcPathAtt tDn="topology/pod-{{ Static_Binding_entry.Pod_ID }}/paths-{{ Static_Binding_entry.Switch_ID }}/pathep-[{{ Static_Binding_entry.port }}]" vsan="vsan-{{ Static_Binding_entry.vsan_ID }}" vsanMode="native" status={% if Static_Binding_entry.state is defined and Static_Binding_entry.state == 'absent' %}"deleted"{% else %}""{% endif %}/>
            {% endif %}
          {% endfor %}
        {% endif %}

        <fvRsDomAtt tDn="uni/fc-{{ entry.storage_domain_name }}"/>
      </fvAEPg>
    </fvAp>
    {% endif %}
    {% endfor %}
  </fvTenant>  
</polUni>